
/*Comment block*/
.detailBox {
    border:1px solid #bbb;
    margin-bottom:10px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:300px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}

.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.commentHead
{
	margin:0px;
	font-weight: bold;
}
/*Comment block*/

/*Software info table*/
#softinfoTable{
	width: 100%;
	
}

#softinfoTable td{
	line-height:2;
}


/*Add by thai*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

.body
{
	margin-bottom: 30px;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
/*     margin-left: 11.7em; */
    margin-right: 2em;
    margin-top: -0.1em;
    text-transform: uppercase;
    color: #6B6B47;
    border-bottom: 2px solid #eee;
    font-size: 1.5em;
    font-weight: 700;
}
.show-grid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .15);
}

.content-subhead-homepage {    
    padding-bottom: 0.8em;
    padding-top: 0.8em; 

    color: #6B6B47;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;    
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.2em;
    font-weight: 700;
}


.table-curved {
   border-collapse: separate;
   border: solid #ddd 1px;
   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ddd 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
}

.content-subhead-homepage2{
    float: right;
    padding-right: 1em;
}

.content-subhead-homepage1 {
    margin-left: 29.99em;
    margin-right: 2.4em;
    margin-top: -0.1em;
    padding-left: 2.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;   
    color: #6B6B47;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;    
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    font-size: 1em;
    font-weight: 700;
}

.content-subhead-homepage-clock {
    padding-left: 0.5em;
    color: #3366FF;
}

.soft-date-homepage_1 {
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
    padding-left: 0.8em;
    padding-right:0.8em;
    width: 8em;
}

.soft-date-homepage {
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 0.5em;
    margin-top: 0.2em;   
}

.view-more{
    padding-left: 11em;
}

.content-subhead-homepage-ca{
    color: #3366FF;
}

.content-subhead-homemain {
    margin-left: 25em;
    margin-right: 2em;
    margin-top: -0.7em;
    padding-left: 1em;
    padding-bottom: 0.8em;
    padding-top: 0.8em;   
    color: #6B6B47;    
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;        
    font-size: 1.2em;
    font-weight: 700;
}
.content {
    padding: 2em 1em 0;
}



.post-list{
    margin-bottom: 3em;
}

.post-list-title {
    font-size: 2em;
    color: #6173eb;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background: #faf8f5;
}

.post-list-title1 {
    font-size: 2em;
    color: #6173eb;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    margin-left: -1.1em;
    margin-right: -1.1em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    background: #faf8f5;
}

.post-list-muc{
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 0px solid #000000;
    background: #ebc986;
}

.post-list-edit{
    font-size: 0.9em;
    color: #3399FF;
}

.post-list-edit-button{
    margin-bottom: 1em;
}

.post {
    border-top: 1px solid #eee;
    padding-bottom: -3em;    
}
.post-title {
    font-size: 1.5em;
    color: #aaa;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.post-title-homepage {
    font-size: 0.8em;
    color: #0000FF;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    padding-left: 0.8em;
    padding-right:0.8em;
}

.post-date-homepage {
    font-size: 0.8em;
    color: #0000FF;
     margin-bottom: 0.2em;
    margin-top: 0.2em;
    padding-left: 3em;
    
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-right: 4em;
}

.post-avatar-homepage {
    border-radius: 50px;
    float: left;
    margin-left: 0.1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
    margin-bottom: -2em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-info {
    color: #999;
    font-size: 80%;
    font-style: italic;
    margin-top: 0.5em;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 120%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
/*         margin-left: 25%; */
		margin-bottom: 15px;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

/*css*/
body {
    background-image:  url(../imgs/body-bg7.png);
    background-repeat: repeat;
    color: #333;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.container{
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}
.container-fluid{
    background-color: #FFEC94;
}
.masthead{
    background-color: #70CAFF;
    padding-bottom: 0px;
}
#home{
    color: #116611;
}
#header-bg{
    background-image:  url(../imgs/header-backgroup.jpg);
    background-size: 100%;
    height: 180px;
    background-repeat: 0;
}
.content-subhead{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-default{
    margin-bottom: 10px;
}
.panel-heading{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}
.list-group{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.list-group-item{
    background-color: #FFEC94;
}
#sidebar {
padding-right: 0px;
}
.navbar{
    margin-bottom: 0px;
}
#bs-example-navbar-collapse-1 a{
    color:  #116611;
}
#line1,#line2{
    height: 3px;
    background-color: red; 
}
.footer{
    background-color: #70CAFF;
}