
body {
    background: #FFF url(../image/background/body-bg7.png);
    color: #333;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#banner{
	padding:55px 0px 5px 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	box-shadow: 0px 0px 10px 3px #888888;
	background-color:#F0F0F0;
}
#shadow{
	box-shadow: 0px 0px 10px 3px #888888;
	background-color:white;
	padding-top:20px;
}
#right{
	margin-top:8px;
	float:right;
}
.id_selected{
	background:#E0E0E0;
	color:black;
	border: 1px dotted #E0E0E0;
}
tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

img.items{
	height:40px;
	width:40px;
}
img.items:hover{
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.null{
	margin:0;
	padding:0;
}
.null_top{
	margin-top:0;
	padding-top:0;
}
.null_bottom{
	margin-bottom:0;
	padding-bottom:0;
}

.null_top{
	margin-top:0;
	padding-top:0;
}
.headerwidth{
	width: 120px;
}
.zero{
	margin-bottom:5px;
	padding:5px;
}
.zero10{
	margin-bottom:10px;
	padding:10px;
	height:160px;
	width:120px;
}
.icon0{
	background-image:url(../image/activities/activity_dragon.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon1{
	background-image:url(../image/activities/activity_add.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon2{
	background-image:url(../image/activities/activity_delete.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon3{
	background-image:url(../image/activities/activity_edit.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon4{
	background-image:url(../image/activities/activity_view.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon5{
	background-image:url(../image/activities/activity_download.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon6{
	background-image:url(../image/activities/activity_post.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.background_EB{
	background-color:#EBEBEB;
}
.icon_administrator{
	background-image:url(../image/users/administartor.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_male{
	background-image:url(../image/users/male.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_female{
	background-image:url(../image/users/female.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_user{
	background-image:url(../image/users/users.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_post{
	background-image:url(../image/posts/posts.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_software{
	background-image:url(../image/softwares/software_hidden.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_comment{
	background-image:url(../image/comments/comments.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_category{
	background-image:url(../image/categories/category_hidden.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_publisher{
	background-image:url(../image/publishers/publisher_hidden.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_system{
	background-image:url(../image/systems/system_hidden.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_user_comment{
	background-image:url(../image/comments/user_comment.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;;
}
.icon_male_comment{
	background-image:url(../image/comments/male_comment.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;
}
.icon_female_comment{
	background-image:url(../image/comments/female_comment.png);
	background-repeat:no-repeat;
	background-size:40px 40px;
	height:40px;
	width:40px;;
}
.iconnull{
	height:40px;
	width:40px;
	margin:5px 0 0 7px;
	padding:0;
}

.image_size300{
	height:100%;
	width:100%;	
}
.zero10:hover{
	border: 2px dashed blue;
}
.noborder{
	border: 1px solid white;
}
.borderdotted{
	border: 1px dotted #E0E0E0;
}
.margin_top10{
	margin-top: 20px;
}
.margin_left20{
	margin-left: 20px;
}
.width400_right{
	width:400px;
	float:right;
	margin:3px 10px 3px 3px;
}
.width50_left{
	width:50px;
	float:left;
	margin:0 5px 0 5px;
}
.width50_bottom10{
	width:50px;
	float:right;
	margin:0 0 10px 0;
}
.width50_right{
	width:50px;
	float:right;
	margin:0 10px 0 5px;
}
.box_0{
	padding:0px;
}
.box_30{
	padding:20px 60px 30px 60px;
}
.margin10{
	margin:10px;
}
.fontsize4em{
	font-size:4em;
}
.right{
	float:right;
}
.left{
	float:left;
}

.show_hidden{
	float:left;
	width:55px;
	height:auto;
	text-align:center;
	padding:0;
	margin:0;
}

.hiddenlist{
	float:right;	
	width:295px;
	height:auto; 
	color:black;
	padding:0;
	margin:0;
}

.hidden_box {
	  width:350px;
	  height:auto;
	  display:block;
	  color:black ;
	  right:-260px;
	  padding:0;
	  margin:0;
	  position:fixed;
	  top: 55px;
	  z-index:1002;

}
.message{
	 width:280px;
	 height:auto;
	 display:block;
	 color:black ;
	 padding:0;
	 margin:0;
	 position:fixed;
	 top: 55px;
}
.lineheight{
	line-height:200%;
}
a.block:link{
	display:block;
	text-decoration: none;
	color:green;
}
a.block:visited {
    color: green;
}
a.block:hover {
    color: blue;
}
a.block:active {
    color: blue;
}

a.delete:link{
	display:block;
	text-decoration: none;
	color:red;
}
a.delete:visited {
    color: red;
}
a.delete:hover {
    color: blue;
}
a.delete:active {
    color: blue;
}

a.deleteWhite:link{
	display:block;
	text-decoration: none;
	color:white;
}
a.deleteWhite:visited {
    color: white;
}
a.deleteWhite:hover {
    color: yellow;
}
a.deleteWhite:active {
    color: yellow;
}
.close {
  float: right;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=40);
  opacity: .4;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=80);
  opacity: .8;
}
.check_box{
	display:block;
	height:25px;
	width:25px;
}
.em1_4{
	font-size: 1.4em;
}
.em1_1{
	font-size: 1.1em;
}
.check_box_20{
	display:block;
	height:20px;
	width:20px;
}
.check_box_25{
	display:block;
	height:25px;
	width:25px;
}

.check_box_10{
	display:block;
	height:10px;
	width:10px;
}
.size30{
	height:30px;
	width:30px;
}
.size32{
	height:32px;
	width:32px;
}
.size40{
	height:40px;
	width:40px;
}
.size50{
	height:50px;
	width:50px;
}
.size40_left{
	height:40px;
	width:40px;
	padding-right:30px;
	float:left;
}
.check_box_20_margin{
	display:block;
	margin-top:50px;
	height:20px;
	width:20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 9px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px dotted white;
  border-bottom: 1px dotted #E0E0E0;
}
.table > thead > tr > th {
  vertical-align: middle;
  border-bottom: 2px solid #ddd;
}
.table > thead > tr > td {
 font-weight:bold;
 color:#6881BA;
  vertical-align: middle;
  border-bottom: 2px solid #ddd;
}
img.resize90:hover {
	width:90%;
}

.title{
	color:green;
}
.title_box{
	margin:10px;
}
.margin20{
	margin-top:20px;
}
.margin10_top{
	margin-top:10px;
}
.margin7{
	margin-top:7px;
}
.margin4_28{
	margin:4px 0 0 28px;
}
.margin5{
	margin-top:5px;
}
.margin5_full{
	padding:15px;
}
.margin4{
	margin-top:4px;
}
.margin3_18{
	margin:3px 0 0 18px;
}

.background_F5{
	background-color:#F5F5F5;
	padding: 5px 0 5px 0;
}

.rowbody{
	border-bottom: 1px dotted #E0E0E0;
	margin:0 2px 0 2px;
	line-height:300%;
}
.rowbody:hover{
	background-color: #F7F7F7;
}
.rowheader{
	font-weight:bold;
	color:#6881BA;
	border-bottom: 2px solid #E0E0E0;
	margin:0 2px 0 2px;
	line-height:300%;
}
.color0{
	font-weight:bold;
	color:#6881BA;
}
.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}

.border{
	border-bottom: 2px solid #E0E0E0;
}



.picture img {margin: 20px 5px;}
.slogan {
	padding: 0px;
	margin-bottom:10px;
}

.slogan{font-size:2.2em; 
	margin-bottom: 0px; 
	padding-bottom:0px;
	-webkit-text-shadow: -3px 4px 0px #999999;
	text-shadow:3px 3px 10px #777777;
}
.slogan h2 {color:#666;}

@media screen and (max-width: 480px) {
 /* Add your styles for devices with a maximum width of 480 */
 .slogan {padding: 0px;}
}

@media screen and (max-width: 768px) {
 /* Add your styles for devices with a maximum width of 768 */
 .slogan {padding: 0px;}
 .picture img {padding-left:20%;}
 .section {text-align:center;}
}

@media screen and (max-width: 320px) {
 /* Add your styles for devices with a maximum width of 320 */
}

@media screen and (max-width: 1024px) {
 /* Add your styles for devices with a maximum width of 1024 */
  .picture img {padding-left:20%;}
  .slogan {
    padding-bottom: 10px;
	}
}

/* Social Icons Widget */

.social-icons {
    text-align: center;
}
.social-icons a {
    margin: 2px;
    position: relative;
    text-shadow: none;
    display: inline-block;
}
.social-icons-widget .social-icons i:before {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.social-icons-widget .social-icons a {
    color: #555 !important;
}

footer#theme-footer .social-icons-widget .social-icons a {
    color: #999 !important;
}

.social-icons-widget .social-icons.social-colored a {
    color: #FFF !important;
}

.social-icons-widget .social-icons a:hover {
    opacity: 0.7;
}

.social-icons.social-colored .fa-delicious:before,
.arq-lite-delicious a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-delicious a i{
    background: #2567ee
}

.social-icons.social-colored .fa-foursquare:before {
    background: #0d9ed1
}

.social-icons.social-colored .fa-digg:before {
    background: #b2b2b2
}

.social-icons.social-colored .fa-reddit:before {
    background: #ff915c
}

.social-icons.social-colored .tieicon-vimeo:before,
.arq-lite-vimeo a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-vimeo a i{
    background: #3fbfce
}

.social-icons.social-colored .fa-play:before {
    background: #a0b532
}

.social-icons.social-colored .fa-soundcloud:before,
.arq-lite-soundcloud a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-soundcloud a i{
    background: #F76700
}

.social-icons.social-colored .fa-yelp:before {
    background: #c1230d
}

.social-icons.social-colored .fa-github:before {
    background: #666666
}

.social-icons.social-colored .fa-xing:before {
    background: #00605e
}

.social-icons.social-colored .fa-dropbox:before {
    background: #459ce6
}

.social-icons.social-colored .fa-tumblr:before {
    background: #385a75
}

.social-icons.social-colored .fa-apple:before {
    background: #7e878b
}

.social-icons.social-colored .fa-dribbble:before,
.arq-lite-dribbble a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-dribbble a i {
    background: #d875a2
}

.social-icons.social-colored .fa-skype:before {
    background: #00c6ff
}

.social-icons.social-colored .fa-vk:before {
    background: #336699
}

.social-icons.social-colored .fa-friendfeed:before {
    background: #93b4dd
}

.social-icons.social-colored .fa-lastfm:before {
    background: #f54a3d
}

.social-icons.social-colored .fa-spotify:before {
    background: #7fb718
}

.social-icons.social-colored .fa-paypal:before {
    background: #34aad2
}

.social-icons.social-colored .fa-wordpress:before {
    background: #2071ad
}

.social-icons.social-colored .fa-rss:before,
.arq-lite-rss a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-rss a i {
    background: #f8bc2e
}

.social-icons.social-colored .fa-share-alt:before {
    background: #55ac60
}

.social-icons.social-colored .tieicon-picasa:before {
    background: #9d48a1
}

.social-icons.social-colored .tieicon-evernote:before {
    background: #1c8328
}

.social-icons.social-colored .tieicon-forrst:before,
.arq-lite-forrst a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-forrst a i {
    background: #297e09
}

.social-icons.social-colored .tieicon-blogger:before {
    background: #f39d38
}

.social-icons.social-colored .tieicon-viadeo:before {
    background: #f97618
}

.social-icons.social-colored .tieicon-deviantart:before {
    background: #5d6f6d
}

.social-icons.social-colored .tieicon-grooveshark:before {
    background: #248fd3
}

.social-icons.social-colored .tieicon-fivehundredpx:before {
    background: #00adf1
}

.social-icons.social-colored .fa-facebook:before,
.social-facebook,
.author-social a.social-facebook:hover,
.arq-lite-facebook a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-facebook a i {
    background: #39599f
}

.social-icons.social-colored .fa-twitter:before,
.social-twitter,
.author-social a.social-twitter:hover,
.arq-lite-twitter a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-twitter a i {
    background: #45b0e3
}

.social-icons.social-colored .fa-stumbleupon:before,
.social-stumble,
.author-social a.social-stumble:hover {
    background: #eb4924
}

.social-icons.social-colored .fa-google-plus:before,
.social-google-plus,
.author-social a.social-google-plus:hover,
.arq-lite-google a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-google a i {
    background: #fa0101
}

.social-icons.social-colored .fa-linkedin:before,
.social-linkedin,
.author-social a.social-linkedin:hover {
    background: #65b7d2
}

.social-icons.social-colored .fa-pinterest:before,
.social-pinterest,
.author-social a.social-pinterest:hover {
    background: #E00707
}

.social-icons.social-colored .fa-youtube:before,
.social-youtube,
.author-social a.social-youtube:hover,
.arq-lite-youtube a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-youtube a i {
    background: #cc181e
}

.social-icons.social-colored .tieicon-instagram:before,
.social-instagram,
.author-social a.social-instagram:hover,
.arq-lite-instagram a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-instagram a i {
    background: #517fa4
}

.social-icons.social-colored .fa-behance:before,
.social-behance,
.author-social a.social-behance:hover,
.arq-lite-behance a:hover i,
.arqam-lite-widget-counter.colored .arq-lite-behance a i {
    background: #1769ff
}

.social-icons.social-colored .tieicon-flickr:before,
.social-flickr,
.author-social a.social-flickr:hover {
    background: #ff0084
}

.social-site {
    background: #666
}


/*Footer */
footer#theme-footer {
    position: relative;
    color: #ddd;
    background: #333;
    padding: 20px 0;
    border-top: 8px solid #FF8500;
    margin-top: 20px;
    -webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 -8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 -8px 0 rgba(0, 0, 0, .1);
}

footer#theme-footer a {
    color: #ccc;
}

footer#theme-footer a:hover {
    color: #FFF;
}

/* Footer Widgets */

#footer-widget-area {
    width: auto;
    margin: 0 auto;
}

.footer-widgets-box {
    float: left;
    margin-right: 4%;
}

.footer-1c .footer-widgets-box {
    width: 100%
}

.footer-2c .footer-widgets-box {
    width: 48%;
}

.footer-3c .footer-widgets-box {
    width: 30.66666666666667%;
}

.footer-4c .footer-widgets-box {
    width: 22%;
}

.narrow-wide-2c #footer-first,
.wide-narrow-2c #footer-second {
    width: 32%;
}

.narrow-wide-2c #footer-second,
.wide-narrow-2c #footer-first {
    width: 64%;
}

.wide-left-3c #footer-first,
.wide-right-3c #footer-third {
    width: 46%;
}

.wide-left-3c .footer-widgets-box,
.wide-right-3c .footer-widgets-box {
    width: 23%;
}

.footer-1c .footer-widgets-box,
.narrow-wide-2c #footer-second,
.wide-narrow-2c #footer-second,
.footer-2c #footer-second,
.footer-3c #footer-third,
.footer-4c #footer-fourth,
.wide-right-3c #footer-third,
.wide-left-3c #footer-third {
    margin-right: 0;
}

.footer-widget-top {
    border-bottom: 1px solid #222;
    padding: 10px 0;
}

.footer-widget-top h4 {
    font-size: 22px;
    font-family: BebasNeueRegular, arial, Georgia, serif;
}

.footer-widget-container {
    padding: 5px 0;
    border-top: 1px solid #444;
}

.footer-widget-container p {
    padding-bottom: 1.0em;
}

.footer-widget-container li,
footer#theme-footer #tabbed-widget .tabs-wrap li {
    padding: 6px 12px 6px 0;
    line-height: 18px;
    overflow: hidden;
    border-bottom: 1px solid #3c3c3c;
}

footer#theme-footer .twitter-widget-content li {
    border-bottom: 1px solid #3c3c3c;
}

footer#theme-footer #tabbed-widget .widget-top {
    background: transparent;
    border-bottom-color: #444;
    overflow: hidden;
}

footer#theme-footer #tabbed-widget ul.tabs li a:hover {
    color: #FFF;
}

footer#theme-footer #tabbed-widget ul.tabs li.active a {
    color: #FFF;
    background: #444;
    -webkit-box-shadow: 0 -1px 2px #222;
       -moz-box-shadow: 0 -1px 2px #222;
            box-shadow: 0 -1px 2px #222;
}

footer#theme-footer #tabbed-widget .tabs-wrap.tagcloud a {
    background: #444;
}

footer#theme-footer #tabbed-widget .tabs-wrap.tagcloud a:hover {
    background: #555;
}

footer#theme-footer .search-widget input {
    background: #414141;
    border: 1px solid #202020;
    color: #222;
    -webkit-box-shadow: 0 1px 3px 0 #313131;
       -moz-box-shadow: 0 1px 3px 0 #313131;
            box-shadow: 0 1px 3px 0 #313131;
}

footer#theme-footer .search-widget input:hover,
footer#theme-footer .search-widget input:focus {
    color: #000;
}

/* Footer Bottom */

.footer-bottom {
    position: relative;
    background: #2e2e2e;
    line-height: 35px;
    border-top: 1px solid #444;
    color: #ccc;
    padding: 15px 0;
}

.footer-bottom .social-icons {
    float: right;
    margin: 3px 15px 0;
    line-height: 0;
}

.footer-bottom a {
    color: #ccc;
}

.footer-bottom a:hover {
    color: #FFF;
}
.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
/* Go to top icon */
#topcontrol {
    z-index: 999;
    background: #FF8500;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    bottom: -100px;
    right: 10px;
    cursor: pointer;
    overflow: auto;
    opacity: 0.7;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

#topcontrol:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
}

#topcontrol:hover {
    opacity: 1;
}
